/* Top Section */
.seller{
    padding-top: 20px;
}

.top-section {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    color: white;
  }
  
  /* Middle Section */
  .middle-section {
    background: #f8f9fa;
    padding: 50px 0;
    font-size: 18px;
  }
  
  /* Bottom Section */
  .bottom-section {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
  }
  
  /* Custom Buttons */
  .custom-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: 0.3s;
  }
  
  .custom-btn:hover {
    transform: scale(1.05);
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .top-card-title,
    .bottom-card-title {
      font-size: 24px;
    }
  }
  